/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hidden-text-color: #ffffff;
  --visible-text-color: #000000;
  --overlay-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-active-color: #188ce8;

  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--visible-text-color);
  text-decoration: none;
}

.logo-primary {
  color: var(--accent-color);
}
.logo-secondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hidden-text-color);
  text-decoration: none;
}

/* site-nav */

.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-header .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  text-align: center;
  background-color: var(--first-bg-color);
  outline: 1px solid tomato;
}
.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;
  color: var(--hidden-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.hero-button {
  margin-bottom: 200px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--hidden-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-active-color);
}
/* feature */

.feature .feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature .feature-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* activity */

.activity-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.activity-list {
  outline: 1px solid tomato;
}

/* team */

.team {
  background-color: var(--second-bg-color);
}

.team-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
  outline: 1px solid tomato;
}
.team-items {
  outline: 1px solid tomato;
}
.team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: var(--first-bg-color);
}
.footer .logo-secondary {
  display: inline-block;
  padding-top: 60px;
}
.contacts-footer {
  padding-top: 20px;
  padding-bottom: 60px;
}
.contacts-footer .address-footer {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hidden-text-color);
  font-style: normal;
  text-decoration: none;
}

.contacts-footer .link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--overlay-text-color);
  font-style: normal;
  text-decoration: none;
}
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--hidden-text-color);
}

/* gallery */

.gallery-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
}
.gallery-button:focus,
.gallery-button:hover {
  background-color: var(--accent-color);
  color: var(--hidden-text-color);
}
.gallery-button.here {
  background-color: var(--accent-color);
  color: var(--hidden-text-color);
}

.portfoli-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfoli-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfoli-link {
  text-decoration: none;
}
